:root {
  --text-color: #191970;
}

* {
  color: var(--text-color);
}

body {
  font-family: "Source Sans pro";
  margin: 0;
}

li {
  list-style: none;
  font-size: 22px;
}

.login {
  display: flex;
  justify-content: center;
  padding: 8px 12px;
  font-size: 24px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: center;
  width: 20vh;
  font-size: 30px;
}

.clock {
  font-size: 30px;
  padding: 30px;
}

#weather {
  font-size: 20px;
  text-align: center;
}

.center {
  text-align: center;
  width: 70vh;
}

.center input {
  width: 30vh;
  height: 3vh;
}

.center form {
  padding: 15px 24px;
}

.right {
  text-align: center;
  width: 70vh;
}
.right li {
  text-decoration: line-through;
  text-decoration-color: red;
}

.left,
.center,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  border: 2px solid #778899;
  border-radius: 4px;
}

#todo-list,
.finished {
  display: flex;
  flex-wrap: wrap;
}

#todo-list li,
.finished li {
  padding: 8px 12px;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .left {
    width: 70vh;
    height: 15vh;
    flex-direction: row;
  }

  .center,
  .right {
    height: 50vh;
  }

  img {
    position: fixed;
    background-repeat: repeat-y;
  }
}
